## Colt Steele Bootcamp Challenges Part 2

In [408]:
'''
range_in_list([1,2,3,4],0,2) #  6
range_in_list([1,2,3,4],0,3) # 10
range_in_list([1,2,3,4],1) #  9
range_in_list([1,2,3,4]) # 10
range_in_list([1,2,3,4],0,100) # 10
range_in_list([],0,1) # 0
'''

def range_in_list(lst,start=0,end=None):
    end = end or lst[-1]
    return sum(lst[start:end+1])

In [409]:
range_in_list([1,2,3,4],0,2)

6

In [410]:
range_in_list([1,2,3,4],0,3)

10

In [411]:
range_in_list([1,2,3,4],1)

9

In [412]:
range_in_list([1,2,3,4])

10

In [413]:
range_in_list([1,2,3,4],0,100)

10

In [414]:
range_in_list([],0,1)

0

---

In [419]:
import math
'''
same_frequency(551122,221515) # True
same_frequency(321142,3212215) # False
same_frequency(1212, 2211) # True
'''

def same_frequency(n1,n2):
    num1 = [str(n1).count(val) for val in str(n1)]
    num2 = [str(n2).count(val) for val in str(n2)]
    
    if num1 == num2:
        return True
    else:
        return False

In [420]:
same_frequency(551122,221515)

True

In [421]:
same_frequency(321142,3212215)

False

In [422]:
same_frequency(1212, 2211)

True

---

In [423]:
'''
nth(['a', 'b', 'c', 'd'], 1)  # 'b' 
nth(['a', 'b', 'c', 'd'], -2) #  'c'
nth(['a', 'b', 'c', 'd'], 0)  # 'a'
nth(['a', 'b', 'c', 'd'], -4) #  'a'
nth(['a', 'b', 'c', 'd'], -1) #  'd'
nth(['a', 'b', 'c', 'd'], 3)  # 'd'
'''

def nth(lst,ind):
    return lst[ind]

In [424]:
nth(['a', 'b', 'c', 'd'], 1)

'b'

In [425]:
nth(['a', 'b', 'c', 'd'], -2)

'c'

In [426]:
nth(['a', 'b', 'c', 'd'], 0)

'a'

In [427]:
nth(['a', 'b', 'c', 'd'], -4)

'a'

In [428]:
nth(['a', 'b', 'c', 'd'], -1)

'd'

In [ ]:
nth(['a', 'b', 'c', 'd'], 3)

---

In [477]:
'''
find_the_duplicate([1,2,1,4,3,12]) # 1
find_the_duplicate([6,1,9,5,3,4,9]) # 9
find_the_duplicate([2,1,3,4]) # None
'''

def find_the_duplicate(arr):
    
    arr.sort()
    for ind,val in enumerate(arr):
        if val in arr[ind+1:]:
            return val

In [478]:
find_the_duplicate([1,2,1,4,3,12]) # 1

1

In [479]:
find_the_duplicate([6,1,9,5,3,4,9]) # 9

9

In [480]:
find_the_duplicate([2,1,3,4]) # None

---

''
EXAMPLES:


            list1 = [
              [ 1, 2 ],
              [ 3, 4 ]
            ]
 
sum_up_diagonals(list1) # 10

            list2 = [
              [ 1, 2, 3 ],
              [ 4, 5, 6 ],
              [ 7, 8, 9 ]
            ]
 
sum_up_diagonals(list2) # 30
 
            list3 = [
              [ 4, 1, 0 ],
              [ -1, -1, 0],
              [ 0, 0, 9]
            ]

sum_up_diagonals(list3) # 11

            list4 = [
              [ 1, 2, 3, 4 ],
              [ 5, 6, 7, 8 ],
              [ 9, 10, 11, 12 ],
              [ 13, 14, 15, 16 ]
            ]
 
sum_up_diagonals(list4) # 68
'''

In [531]:
def sum_up_diagonals(arr):
    #NxN 
    
    ind = 0 #topleft to right bottom
    total1 = 0
    for i in range(len(arr)):
        total1 += arr[ind][ind]
        ind += 1
    
    a = 0 #top right to left bottom
    b = len(arr)-1
    total2 = 0
    for i in range(len(arr)):
        total2 += arr[a][b]
        a += 1
        b -= 1
        
        
    return total1+total2

In [532]:
list1 = [
          [ 1, 2 ],
          [ 3, 4 ]
        ]
sum_up_diagonals(list1) # 10

10

In [533]:
list2 = [
          [ 1, 2, 3 ],
          [ 4, 5, 6 ],
          [ 7, 8, 9 ]
        ]
sum_up_diagonals(list2) # 30

30

In [534]:
list3 = [
          [ 4, 1, 0 ],
          [ -1, -1, 0],
          [ 0, 0, 9]
        ]
sum_up_diagonals(list3) # 11

11

In [535]:
list4 = [
          [ 1, 2, 3, 4 ],
          [ 5, 6, 7, 8 ],
          [ 9, 10, 11, 12 ],
          [ 13, 14, 15, 16 ]
        ]
sum_up_diagonals(list4) # 68

68

---

In [549]:
'''
min_max_key_in_dictionary({2:'a', 7:'b', 1:'c',10:'d',4:'e'}) # [1,10]
min_max_key_in_dictionary({1: "Elie", 4:"Matt", 2: "Tim"}) # [1,4]
'''

def min_max_key_in_dictionary(dct):
    return [min([val for val in dct.keys()]),max([val for val in dct.keys()])]

In [550]:
min_max_key_in_dictionary({2:'a', 7:'b', 1:'c',10:'d',4:'e'})

[1, 10]

In [551]:
min_max_key_in_dictionary({1: "Elie", 4:"Matt", 2: "Tim"})

[1, 4]

---

In [587]:
'''
find_greater_numbers([1,2,3]) # 3 
find_greater_numbers([6,1,2,7]) # 4
find_greater_numbers([5,4,3,2,1]) # 0
find_greater_numbers([]) # 0
'''

def find_greater_numbers(arr):
   
    count = 0
    i = 0
    j = 1
    while i < len(arr):
        while j < len(arr):
            if arr[j] > arr[i]:
                count += 1
            j+=1
        j = i+1
        i+=1
    return count

In [588]:
find_greater_numbers([1,2,3])

3

In [589]:
find_greater_numbers([6,1,2,7])

4

In [590]:
find_greater_numbers([5,4,3,2,1])

0

In [591]:
find_greater_numbers([])

0

---

In [1]:
def multiple_letter_count(string):
    return {letter:string.count(letter) for letter in string}
multiple_letter_count("awesome")

{'a': 1, 'w': 1, 'e': 2, 's': 1, 'o': 1, 'm': 1}